@import "colors";

* {
    box-sizing: border-box;
    line-height: 150%;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-family: sans-serif;
    overflow-x: hidden;
    color: $text-color;
}

img {
    max-width: 100%;
}

a {
    color: $secondary-color;
    transition: .3s ease-in-out all;

    &:hover {
        color: darken($secondary-color, 10%);
    }

    &:focus {
        border: 3px solid black;
    }
}

// COMPONENTS
@import "components/nav";
@import "components/footer";
@import "components/card";
@import "components/container";
@import "components/grid";
@import "components/jumbotron";
@import "components/statistics";
@import "components/form";
@import "components/button";
@import "components/helpers";