.button {
    padding: ($padding / 1.5) $padding;
    display: inline-block;
    text-decoration: none;
    border-radius: $radius;
    width: auto;
    height: auto;
    transition: .3s ease-in-out all;
    border: 0;

    &.button-secondary {
        color: $text-color;
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 10%);
        }
    }

    svg {
        position: relative;
        top: 2px;
        max-height: .8rem;
    }

    &:focus {
        border: 3px solid $primary-color;
    }
}