.button {
    padding: ($padding / 1.5) $padding;
    display: inline-block;
    text-decoration: none;
    border-radius: $radius;
    width: auto;
    height: auto;
    transition: .3s ease-in-out all;

    &.button-secondary {
        color: $text-color;
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 10%);
        }
    }
}