.flex {
    display: flex;

    .flex-shrink {
        flex-shrink: 1;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .flex-auto {
        flex: 1 1 auto;
    }

    &.flex-col {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }
}

.grid {
    display: grid;

    &.is-3 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $padding;
        gap: $padding;

        @media (max-width: $md) {
            grid-template-columns: repeat(1, 1fr);
            border-radius: 0;
        }
    }
}

/*
 * Keep footer on the bottom of the page
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1 0 auto;
    }
}