.jumbotron {
    background-color: $primary-color;
    margin: 0 0 -1em 0;
    padding-bottom: 1em;
    position: relative;
    height: 50vh;
    text-align: justify;

    .jumbotron-image {
        display: none;

        @media screen and (min-width: 550px) {
            display: block;

            img {
                max-height: 45vh;
            }
        }
    }

    @media screen and (max-width: $md) {
        padding: $padding;
    }

    @media screen and (min-width: $md) {
        &:after {
            content: "";
            display: block;
            height: 4em;
            background-color: $primary-color;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            width: 110%;
            margin-left: -5%;
        }
    }

    @media screen and (min-width: $lg) {
        &:after {
            height: 5em;
        }
    }
}