.jumbotron {
    background-color: $primary-color;
    margin: 0 0 -1em 0;
    margin-bottom: -3em;
    padding-bottom: 5em;
    position: relative;
    height: 50vh;

    .jumbotron-image {
        display: none;

        @media screen and (min-width: 550px) {
            display: block;

            img {
                max-height: 45vh;
            }
        }
    }

    @media screen and (max-width: $md) {
        padding: $padding;
    }
}