header {
    background-color: $primary-color;

    a.logo {
        display: block;
        padding: $padding-nav 0;

        img {
            max-width: 2em;
            margin: 0 auto;
            display: block;
        }

        @media screen and (min-width: $lg) {
            padding-left: $padding-nav;
        }
    }

    nav {
        width: 100%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;

            li {
                padding: $padding-nav 0;

                a {
                    width: 100%;
                    font-weight: 700;
                    color: darken($white, 10%);
                    text-decoration: none;
                    display: inline-block;
                    transition: .4s ease-in-out all;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: darken($white, 10%);
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
                    }

                    &:hover, &:active, &:focus, &.active {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }

            @media screen and (min-width: $lg) {
                text-align: right;

                li {
                    display: inline-block;
                    padding: $padding-nav;
                }
            }
        }
    }

    .header-container {
        max-width: 1000px;
        margin: 0 auto;

        @media screen and (min-width: $lg) {
            display: flex;
            justify-content: end;
    
            a.logo {
                img {
                    height: 100%;
                }
            }
    
            a.logo, nav {
                flex: 1 1 auto;
            }
        }   
    }
}